<!doctype html>
<head>
    <title>The super awesome mail page!!</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href='../static/style.css'>
    <div class="top">
        <br>
        <h1>MAIL EXPRESS</h1>
        <br>.....sending e-mails has never been so easy :)
    </div>
    <div class="form1">
        <form method="POST" align=center>
            <br>
            <label>enter your email address</label>
            <br>
            <input type="text" name="myMailId">
            <p>
            <label>send to: (input mail-ids of receivers seperated by ',')</label>
            <br>
            <input type="text" name="otherMailIds">
            <p>
            <label>Subject:</label>
            <br>
            <input type="text" name="sub">
            <p>
            <label>Enter your message here-</label>
            <br>
            <textarea name="body" rows='3' cols='50'> </textarea>
            <p>
            <input class="button" type="submit" value="send">
        </form>
    </div>
</body>